.action-item
  width 25px
  height 25px
  padding 3px
  line-height 25px
  border-radius 50%
  display flex
  justify-content center
  align-items center
  cursor pointer
  background rgba(var(--bg-color), 0.3)